.home-btn {
    min-width: 10%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    color: white;
}

.home-btn-text {
    font-size: 20px;
    background: -webkit-linear-gradient(white,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-btn:hover {
  background: linear-gradient(red, blue);
  color: bisque;
}
