.offer-wrapper .ui.segment {
    background: #2f5d76;
    width: 90%;
    margin: 20px auto 10px auto;
    padding-top: 0;
}
.offer-container {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    padding-top: 0;
}

.mine h2, .theirs h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(248, 246, 242);
}

.exchange-icn {
    padding-top: 27px;
}

.offer-pane .horizontal.divider {
    color: #f8f6f2;
    font-size: 22px;
}

.offer-pane .horizontal.divider::before,
.offer-pane .horizontal.divider::after {
    background-image: url(../../assets/img/divider.png);
}