#textBox{
    text-align: center;
    background-color: white;
    font-family: 'Staatliches', cursive;
}
#searchDiv{
margin-top: 30px;
text-align: center;

}
#sprites{
     text-align: center

}
#addButton{
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    width: 100%;
}
#filler{
    margin-left: 30px;
}
#mainBox{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    background-color: white;
    text-align: center;
    width: 30rem;
    border:solid;
    border-width: 30px;
    font-family: 'Staatliches', cursive;
}
.changer{
    margin-top: 30%;
    text-align: right;
    margin-right: 0px;
}
#cards{
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    
}
#pokemon{
background-color: white;
width: 30rem
}

