#textBox{
    text-align: center;
    background-color: white;
}
#searchDiv{
margin-top: 5%;
text-align: center

}
#sprites{
     text-align: center

}
#addButton{
    width: 100%;
}
#filler{
    margin-left: 5%;
}
